.fon3{
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height: 950px;
} 

#hor{
    position: absolute;
    width: 487px;
    height: 0px;
    left: 0px;
    top: 406.5px;
    border: 2px solid #000000;
    background-color: #000000;
}

.circle3{
    width: 20px;
    height: 20px;
    background-color: #000000;
    position:absolute;
    left: 487px;
    top: 406.5px;
    border-radius: 15px;
}

#hor1{
    position: absolute;
    width: 490px;
    height: 0px;
    right: 0px;
    top: 407px;
    border: 2px solid #000000;
    background-color: #000000;
}

.circle32{
    width: 20px;
    height: 20px;
    background-color: #000000;
    position:absolute;
    right:490px;
    top: 407px;
    border-radius: 15px;
}

#catalog{
    position:absolute;
    width:330px;
    height: 100px;
    top: 270px;
    left: 40%;
    /* text-align: center; */
    font-weight: 300;
    font-size: 86px;
    line-height: 103px;
}

#hrw{
    position:absolute;
    /* box-sizing: border-box; */
    width: 287px;
    height: 0px;
    left: 0px;
    top: 550px;
    border: 1px solid black;
    background-color: #000000;
}

#circlew{
    width: 20px;
    height: 20px;
    background-color: #000000;
    position:absolute;
    left: 287px;
    top: 550px;
    border-radius: 15px;
}

#wcosmetics{
    position: absolute;
    width: 380px;
    height: 35px;
    left: 377px;
    top: 490px;
}

.posimg{
    position: absolute;
    left: 33%;

}

.posimg1{
    position: absolute;
    left: 20%;
    top:20%;

}

.posimg3{
    position: absolute;
    left: 33%;
    top: 10%;
}

.price{
    position: absolute;
    width: 240px;
    height: 60px;
    left: 5.36%;
    right: 35.97%;
    top: 88%;
    border-radius: 15px;
    background-color: #4F5434;
}


.viewCard{
    width: 406px;
    height: 666px;
    box-sizing: border-box;
    background-color: #9DA57E;
    border: 3px solid #4F5434;
    box-shadow: 0px -4px 18px #73A761;
    border-radius: 30px;
}

#positioncard1{
    position: absolute;
    left: 130px;
    top: 690px;
}

#positioncard2{
    position:absolute;
    left: 38%;
    top: 690px;
}

#positioncard3{
    position:absolute;
    right: 130px;
    top: 690px;
}

#positioncard4{
    position: absolute;
    left: 130px;
    top: 1420px;
}

#positioncard5{
    position: absolute;
    left: 38%;
    top: 1420px;
}

#positioncard6{
    position: absolute;
    right: 130px;
    top: 1420px;
}

#positioncard7{
    position: absolute;
    left: 130px;
    top: 2150px;
}

#positioncard8{
    position: absolute;
    left: 38%;
    top: 2150px;
}

#positioncard9{
    position: absolute;
    right: 130px;
    top: 2150px;
}

#positioncard10{
    position: absolute;
    left: 130px;
    top: 2880px;
}

#positioncard11{
    position: absolute;
    left: 38%;
    top: 2880px;
}

#positioncard12{
    position: absolute;
    right: 130px;
    top: 2880px;
}

#positioncard13{
    position: absolute;
    left: 130px;
    top: 3610px;
}

#positioncard14{
    position: absolute;
    left: 38%;
    top: 3610px;
}

#positioncard15{
    position: absolute;
    right: 130px;
    top: 3610px;
}

#positioncard16{
    position: absolute;
    left: 130px;
    top: 4340px;
}

#positioncard17{
    position: absolute;
    left: 38%;
    top: 4340px;
}

#positioncard18{
    position: absolute;
    right: 130px;
    top: 4340px;
}

#positioncard19{
    position: absolute;
    left: 130px;
    top: 5070px;
}

#positioncard20{
    position: absolute;
    left: 38%;
    top: 5070px;
}

#positioncard21{
    position: absolute;
    right: 130px;
    top: 5070px;
}

#positioncard22{
    position: absolute;
    left: 130px;
    top: 5800px;
}

#positioncard23{
    position: absolute;
    left: 38%;
    top: 5800px;
}

#positioncard24{
    position: absolute;
    right: 130px;
    top: 5800px;
}

#positioncard25{
    position: absolute;
    left: 130px;
    top: 6530px;
}

#positioncard26{
    position: absolute;
    left: 38%;
    top: 6530px;
}

#positioncard27{
    position: absolute;
    right: 130px;
    top: 6530px;
}

#positioncard28{
    position: absolute;
    left: 130px;
    top: 7260px;
}

#positioncard29{
    position: absolute;
    left: 38%;
    top: 7260px;
}

#positioncard30{
    position: absolute;
    right: 130px;
    top: 7260px;
}

#positioncard31{
    position: absolute;
    left: 130px;
    top: 7990px;
}

#positioncard32{
    position: absolute;
    left: 38%;
    top: 7990px;
}

#positioncard33{
    position: absolute;
    right: 130px;
    top: 7990px;
}

#positioncard34{
    position: absolute;
    left: 130px;
    top: 8720px;
}

#positioncard35{
    position: absolute;
    left: 38%;
    top: 8720px;
}

#positioncard36{
    position: absolute;
    right: 130px;
    top: 8720px;
}

#positioncard37{
    position: absolute;
    left: 130px;
    top: 9450px;
}

#positioncard38{
    position: absolute;
    left: 38%;
    top: 9450px;
}

#positioncard39{
    position: absolute;
    right: 130px;
    top: 9450px;
}

#positioncard40{
    position: absolute;
    left: 130px;
    top: 10180px;
}

#positioncard41{
    position: absolute;
    left: 38%;
    top: 10180px;
}

#positioncard42{
    position: absolute;
    right: 130px;
    top: 10180px;
}

#positioncard43{
    position: absolute;
    left: 130px;
    top: 10910px;
}

#positioncard44{
    position: absolute;
    left: 38%;
    top: 10910px;
}

#positioncard45{
    position: absolute;
    right: 130px;
    top: 10910px;
}

#positioncard46{
    position: absolute;
    left: 130px;
    top: 11640px;
}

#positioncard47{
    position: absolute;
    left: 38%;
    top: 11640px;
}

#positioncard48{
    position: absolute;
    right: 130px;
    top: 11640px;
}

#positioncard49{
    position: absolute;
    left: 130px;
    top: 12370px;
}

#positioncard50{
    position: absolute;
    left: 38%;
    top: 12370px;
}

#positioncard51{
    position: absolute;
    right: 130px;
    top: 12370px;
}

#positioncard52{
    position: absolute;
    left: 130px;
    top: 13100px;
}

#positioncard53{
    position: absolute;
    left: 38%;
    top: 13100px;
}

#positioncard54{
    position: absolute;
    right: 130px;
    top: 13100px;
}

#positioncard55{
    position: absolute;
    left: 130px;
    top: 13830px;
}

#positioncard56{
    position: absolute;
    left: 38%;
    top: 13830px;
}

#positioncard57{
    position: absolute;
    right: 130px;
    top: 13830px;
}

#positioncard58{
    position: absolute;
    left: 130px;
    top: 14560px;
}

#positioncard59{
    position: absolute;
    left: 38%;
    top: 14560px;
}

#positioncard60{
    position: absolute;
    right: 130px;
    top: 14560px;
}

#positioncard61{
    position: absolute;
    left: 130px;
    top: 15290px;
}

#positioncard62{
    position: absolute;
    left: 38%;
    top: 15290px;
}

#positioncard63{
    position: absolute;
    right: 130px;
    top: 15290px;
}

#positioncard64{
    position: absolute;
    left: 130px;
    top: 16020px;
}

#positioncard65{
    position: absolute;
    left: 38%;
    top: 16020px;
}

#positioncard66{
    position: absolute;
    right: 130px;
    top: 16020px;
}

#positioncard67{
    position: absolute;
    left: 130px;
    top: 16750px;
}

#positioncard68{
    position: absolute;
    left: 38%;
    top: 16750px;
}

#positioncard69{
    position: absolute;
    right: 130px;
    top: 16750px;
}

#positioncard70{
    position: absolute;
    left: 130px;
    top: 17480px;
}

#positioncard71{
    position: absolute;
    left: 38%;
    top: 17480px;
}

#positioncard72{
    position: absolute;
    right: 130px;
    top: 17480px;
}

#positioncard73{
    position: absolute;
    left: 130px;
    top: 18210px;
}

#positioncard74{
    position: absolute;
    left: 38%;
    top: 18210px;
}

#positioncard75{
    position: absolute;
    right: 130px;
    top: 18210px;
}

#positioncard76{
    position: absolute;
    left: 130px;
    top: 18940px;
}

#positioncard77{
    position: absolute;
    left: 38%;
    top: 18940px;
}

#positioncard78{
    position: absolute;
    right: 130px;
    top: 18940px;
}

#positioncard79{
    position: absolute;
    left: 130px;
    top: 19670px;
}

#positioncard80{
    position: absolute;
    left: 38%;
    top: 19670px;
}

#positioncard81{
    position: absolute;
    right: 130px;
    top: 19670px;
}

#positioncard82{
    position: absolute;
    left: 130px;
    top: 20400px;
}

#positioncard83{
    position: absolute;
    left: 38%;
    top: 20400px;
}

#positioncard84{
    position: absolute;
    right: 130px;
    top: 20400px;
}

.cardwhite{
    background-color: #fff;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 44.44%;
    border: 0px solid #4F5434;
    border-radius: 30px 30px 0px 0px;
}

.disProd{
    width: 300px;
    height: 140px;
}

#textPos1{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos2{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos3{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos4{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos5{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos6{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos7{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos8{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos9{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos10{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos11{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos12{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos13{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos14{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos15{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos16{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos17{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos18{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos19{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos20{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos21{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos22{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos23{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos24{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos25{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos26{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos27{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos28{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos29{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos30{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos31{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos32{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos33{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos34{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos35{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos36{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos37{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos38{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos39{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos40{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos41{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos42{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos43{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos44{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos45{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos46{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos47{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos48{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos49{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos50{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos51{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos52{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos53{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos54{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos55{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos56{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos57{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos58{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos59{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos60{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos61{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos62{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos63{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos64{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos65{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos66{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos67{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos68{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos69{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos70{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos71{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos72{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos73{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos74{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos75{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos76{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos77{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos78{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos79{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos80{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos81{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos82{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos83{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

#textPos84{
    position: absolute;
    left: 6.89%;
    top: 59.31%;
}

.header1{
    position:absolute;
    left:0;
    top: 21250px;
    width:100%;
    height: 500px;
    background-color: #4f5434;
}

#p1{
    position: absolute;
    right: 5%;
    top:87%;
    width: 70px;
    height: 70px;
    background-color: #4f5434;
    border-radius: 25px;
    border-color: #4f5434;
    box-sizing: border-box;
    color: #fff;
}